{% extends "admin/index.html" %}
{% block title %}
Update Category
{% endblock %}
{% block content %}
<div class="container" align="center">
    {% include '_messages.html' %}
    <div class="text-center h1">Update the Category</div>
    <form action="" method="POST">
        <input type="text" name="category" class="form-control" value="{{update_category.name}}">
        <input type="submit" value="Update category" class="btn btn-outline-info mt-2">
    </form>
</div>
{% endblock %}