{% extends "admin/index.html" %}
{% block title %}
Admin
{% endblock %}
{% block content %}
{% include '_messages.html' %}
<br>
<div class="container">
    <table class="table table-sm table-condensed table-striped table-hover">
        <thead>
            <th>S/N</th>
            <th>Product</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Stock</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{product.name}}</td>
                <td>#{{product.price}}</td>
                <td>{{product.discount}}%</td>
                <td>{{product.stock}}</td>
                <td>{{product.brand.name}}</td>
                <td><img src="{{url_for('static', filename='uploads/' + product.image_1)}}" alt="" style="width: 50px; height: 40px;"></td>
                <td><a href="{{url_for('update_product', id=product.id)}}" class="btn btn-sm btn-outline-info">Edit</a></td>
                <td><a href="" class="btn btn-sm btn-outline-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}