{% extends "admin/index.html" %}
{% block title %}
Admin
{% endblock %}
{% block content %}
{% include '_messages.html' %}
<div class="container">
    <table class="table table-sm table-condensed table-striped table-hover">
        <thead>
            <th>S/N</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{category.name}}</td>
                <td><a href="{{url_for('update_category', id=category.id)}}" class="btn btn-sm btn-outline-info">Edit</a></td>
                <td><a href="" class="btn btn-sm btn-outline-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}