{% extends "products/index.html" %}
{% block title %}
Brand
{% endblock %}
{% block content %}
<div class="container">
  {% if brand %}
  <div class="row">
  {% for b in brand.items %}
  <div class="col-md-3 mt-3">
    <div class="card">
      <img src="{{url_for('static', filename='uploads/' + b.image_1)}}" alt="{{b.name}}" class="card-img-top" height="200">
      <div class="card-body">
          {% if b.discount > 0 %}
          <p style="color: whitesmoke; font-weight: 500; text-shadow: 0 0 5px red; color: whitesmoke; position: absolute; top: 20%; left: 20%;">{{ b.discount}}% discount</p>
          {% endif %}
        <h5 class="text-center">{{b.name}}</h5>
        <p class="text-center">Price: #{{b.price}}</p>
      </div>
      <div class="card-footer">
        <a href="{{url_for('single_page', id= b.id)}}" class="float-left btn btn-sm btn-outline-primary">Details</a>
        <form action="{{url_for('AddCart')}}" method="POST">
          <input type="hidden" name="b_id" value="{{b.id}}">
          <button type="submit" class="btn btn-sm btn-outline-warning float-sm-end">Add cart</button>
          <input type="hidden" name="quantity" id="" value="1" min="1" max="{{b.stock}}">
          {% set colours = b.colours.split(',') %}
          <select name="colours" id="" style="visibility: hidden;">
              {% for colour in colours %}
                  {% set col = colour.split(':') %}
                  <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
              {% endfor %}
          </select>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col text-center">
      {% if brand.has_prev %}
      <a href="{{url_for('get_brand', id=get_b.id,page=brand.prev_num)}}" class="btn btn-info mt-5">Previous</a> 
      {% endif %}
      {% if brand.total > 4 %}
        {% for page_num in brand.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if brand.page == page_num %}
            <a href="{{url_for('get_brand', id=get_b.id,page=page_num)}}" class="btn btn-outline-info mt-5">{{ page_num }}</a> 
            {% else %}
            <a href="{{url_for('get_brand', id=get_b.id, page=page_num)}}" class="btn btn-info mt-5">{{ page_num }}</a> 
            {% endif %}
          {% else %}
          ... 
          {% endif%}              
        {% endfor %}
      {% endif %}
      {% if brand.has_next %}
      <a href="{{url_for('get_brand', id=get_b.id,  page=brand.next_num)}}" class="btn btn-info mt-5">Next</a> 
      {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}